.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #FFF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.App-link {
  color: #61dafb;
}

.Nav {
  padding:1.5rem;
  background-color:#F2F2F2;
  position:fixed;
  width:100%;
  text-align:center;
}

.NavLink {
  margin:1rem;
  text-decoration:none;
  color: #282c34;
  cursor:pointer;
  font-weight:bold;
}

.NavLink:hover {
  color: #282c34ab;
}

.Content {
  display:flex;
  justify-content:center;
  align-items:center;
  color: #282c34;
  height:100vh;
  width:100%;
  flex-direction:column;
  gap:0.12rem;
}